@import "tailwindcss";

@import './global.pcss';
/* page sections */
@import './navigation.pcss';
@import './hero.pcss';
@import './text-sections.pcss';
@import './cards.pcss';
@import './contact.pcss';
/* footer styles */
@import './footer.pcss';
